{% extends 'vgmxApp/site/base.html' %}
{% load static %}

{% block index %}
<div class="">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 text-white">Eleva tu nivel de juego!</h1>
            <p class="text-white">Compra con la página referente en videojuegos de todo México.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="" role="button">Comprar</a>
            </p>
        </div>
    </div>
</div>

<style>
    .jumbotron {
  background: url("https://d3bzyjrsc4233l.cloudfront.net/news/joy_of_gaming.jpg");
  background-size: cover;
  height:1000px;
}
</style>
{% endblock %}