
{% extends 'vgmxApp/site/base.html' %}
{% load static %}

{% block tarjeta %}


<body>
    <!--barra de navegacion-->
    <div class="container py-3">
       
           
               
                <!--Formulario-->
         <section id="content" class="row">
            <div class="col-lg-6">
                <img src="{% static 'img/tarjeta.png' %}" width="450px" height="450px" alt="">
            </div>
            <div  id="formu" class="col-lg-6">
                <form>
                    <div class="row-md-4 mb-3">
                        <label for="validationDefault01">Nombre de la tarjeta</label>
                        <input type="text" class="form-control" id="validationDefault01" placeholder="nombre de la tarjeta" required>
                    </div>
                    
                    <div class="row-md-4 mb-3">
                        <label for="validationDefault02">Número de tarjeta</label>
                        <input type="text" class="form-control" id="validationDefault02" placeholder="No. tarjeta" required>
                    </div>
                    
                    <div class="row-md-4 mb-3">
                        <label for="validationDefault02">Fecha</label>
                        <input type="text" class="form-control" id="validationDefault02" placeholder="MM-AAAA" required>
                    </div>
                    
                    <div class="row-md-4 mb-3">
                        <label for="validationDefault02">Código de seguridad</label>
                        <input type="text" class="form-control" id="validationDefault02" placeholder="000000" required>
                    </div>
                    
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                            <label class="form-check-label" for="invalidCheck2">
                                Agree to terms and conditions
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">enviar</button>
                    <button class="btn btn-outline-dark mt-auto" href="metodosP.html">cancelar</a></button>
                </form>
            </div>
         </section>

       
    </div>

           
</body>


{% endblock %}