{% extends 'vgmxApp/staff/base.html' %}
{% load static %}


{% block dashboard %}


<div class="container-fluid">

    <h1 class="mt-4"> Dashboard </h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"> Dashboard </li>
    </ol>
    <div class="row mb-4">

        {% if request.user.is_superuser %}
        <div class="col-xl-3 col-md-6 py-1 pb-3">
            <div class="card border-2 categories-item shadow-sm border-secondary-light bg-gray-200">
              <div class="card-body px-4 py-4">
                  <div class="d-flex d-inline justify-content-center text-shadow-light">
                      <i class="material-icons mr-2 text-primary">person_add_alt_1</i> 
                      <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href=""> Agregar staff </a></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 py-1 pb-3">
            <div class="card border-1 categories-item shadow-sm border-secondary-light bg-gray-200">
              <div class="card-body px-4 py-4">
                  <div class="d-flex d-inline justify-content-center text-shadow-light">
                      <i class="material-icons mr-2 text-primary">fact_check</i> 
                      <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href="{% url 'categoria_nueva' %}">Agregar categoría</a></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 py-1 pb-3">
            <div class="card border-1 categories-item shadow-sm border-secondary-light bg-gray-200">
              <div class="card-body px-4 py-4">
                  <div class="d-flex d-inline justify-content-center text-shadow-light">
                      <i class="material-icons mr-2 text-primary">category</i> 
                      <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href="">Agregar juego</a></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 py-1 pb-3">
            <div class="card border-1 categories-item shadow-sm border-secondary-light bg-gray-200">
              <div class="card-body px-4 py-4">
                  <div class="d-flex d-inline justify-content-center text-shadow-light">
                      <i class="material-icons mr-2 text-primary">mark_chat_read</i> 
                      <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href="">Moderación</a></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 py-1 pb-3">
            <div class="card border-1 categories-item shadow-sm border-secondary-light bg-gray-200">
              <div class="card-body px-4 py-4">
                  <div class="d-flex d-inline justify-content-center text-shadow-light">
                      <i class="material-icons mr-2 text-primary">admin_panel_settings</i> 
                      <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href="{{ HTTP_HOST }}/admin"">Admin de Django</a></h2>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if not request.user.is_superuser %}
        <div class="col-xl-3 col-md-6 py-1 pb-3">
            <div class="card border-1 categories-item shadow-sm border-secondary-light">
              <div class="card-body px-4 py-4">
                  <div class="d-flex d-inline justify-content-center text-shadow-light">
                      <i class="material-icons mr-2 text-primary">add_box</i> 
                      <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href="">Agregar videojuego</a></h2>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-xl-3 col-md-6 py-1 pb-3">
            <div class="card border-1 categories-item shadow-sm border-secondary-light">
              <div class="card-body px-4 py-4">
                  <div class="d-flex d-inline justify-content-center text-shadow-light">
                      <i class="material-icons mr-2 text-primary">person</i> 
                      <h2 class="h5"> <a class="stretched-link reset-anchor-inherit" href="">Perfil</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if not request.user.is_superuser %}
    <div class="card mb-4">
        <div class="card-header">
            <div class="row d-flex d-inline justify-content-between mx-1" >
                <span class="d-flex d-inline">
                    <i class="material-icons align-top mr-2">view_compact</i> 
                    <h6 class="my-auto"> dsdds </h6>
                </span>
                <a href="{% url 'post_list' %}" class="h6 my-auto"> sdddsfcaaaa </a>
            </div>
        </div> 

    
    </div>
    {% endif %}
</div>


{% endblock %}
